.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px 40px;
  height: 100px;
  align-items: center;
}

.pageName {
  font-size: 30px;
  font-weight: bold;
}

.navigation {
  display: flex;
  gap: 30px;
  align-items: center;
}

.info {
  display: flex;
  gap: 25px;
}

.contentWrapper {
  display: flex;
  flex-grow: 3;
  gap: 30px;
  flex-direction: column;
}


@media screen and (max-width : 540px) {
  .wrapper {
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
  }
}