.container {
  display: flex;
  justify-content: center;
}

.containerForm {
  width: 450px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px 20px 20px;
  // border-left: 2px solid #EDEEF2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.carouselRow {
  background-color: #f3f9ff;
  display: flex;
  position: relative;
  justify-content: center;
  width: 74%;
}

.checkRow {
  display: flex;
  justify-content: space-between;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continueButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 425px) {
  .container {
    display: flex;
    justify-content: flex-start;
  }
  .containerForm {
    padding: 30px;
  }
}
